attrs==17.4.0
certifi==2018.1.18
chardet==3.0.4
coverage==4.5.1
idna==2.6
more-itertools==4.1.0
pkginfo==1.4.2
pluggy==0.6.0
py==1.5.3
py4j==0.10.6
pyspark==2.3.0
pyspark-xgboost==0.1.0
pytest==3.5.0
pytest-cov==2.5.1
requests==2.18.4
requests-toolbelt==0.8.0
six==1.11.0
tqdm==4.19.9
twine==1.11.0
urllib3==1.22
